body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas,
      'Courier New', monospace;
  }
  
  .nav-link{
    margin-left: 40px;
    font-weight: 600;
    font-size: 16px;
  }
  .footer a {
    text-decoration: none;   /* underline hatane ke liye */
    color: #6c757d;          /* Bootstrap ka text-muted color */
    display: inline-block;   /* margin/padding ka effect lane ke liye */
    margin-bottom: 18px;      /* spacing */
  }
  
  .footer a:hover {
    color: #000;             /* hover pe readable ho */
    text-decoration: none;
  }
  
  